@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  text-align: center
    
}
@media (max-width:600px){
  img {
    max-width: 80%;
    text-orientation: mixed;
  }
 
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
 
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

@media (max-width:555px) {
  .left-slide h1 {
    max-width: 80%;
   font-size: medium;
}}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color:#fac8cb; ;
  border: groove;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  display: flex;
  margin-top: 75%;
  margin-left: 35%;
  padding: 1%;
   position: fixed;
  width: 50px;
  height: 100px;
  bottom: 0;
  right: 60%;

 }
 @media (max-width:555px) {
  .left-slide h1 {
    max-width: 80%;
   font-size: medium;
   right:50%;
}}

button:hover {
  color: #222;
  opacity: 1;
}


.slider-container .action-buttons button {
  position: absolute;
    z-index: 100;
  align-content: stretch;
}

#imagen1 {
height: 20px;

}
.nav{

    position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 0.5% 0.5%;
  display: flex;
flex-direction: row-reverse;
border:solid;
border-radius: 50%
  opacity: 0.5;
  border-color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 1

}


.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*:hover .nav{
 background-color: white;
  color: black;  }

@media (max-width:555px) {
  .nav {
    width: 25%;
    height: 25%;

}/*
