@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  text-align: center
    
}
@media (max-width:600px){
  img {
    max-width: 80%;
    text-orientation: mixed;
  }
 
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
 
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

@media (max-width:555px) {
  .left-slide h1 {
    max-width: 80%;
   font-size: medium;
}}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: black; 
  border: groove;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  margin-top: 35%;
  margin-left: 35%;
  padding: 1%;
  position: fixed;
flex-wrap: wrap;

 }

 button:hover {
  color: white;
  opacity: 0.6;
}

 @media (max-width:555px) {
  .left-slide h1 {
    max-width: 80%;
   font-size: medium;
   right:50%;
   text-orientation: sideways;
}}



/*.slider-container .action-buttons button {
  position: absolute;
    z-index: 80;
  align-content: stretch;
}*/

#imagen1 {
height: 20px;

}
.nav{
  cursor: pointer;
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 0;
  right: 0;
  margin: 2% 2%;
  display: flex;
flex-direction: row-reverse;
border:solid;
border-radius: 50%
  opacity: 0.5;
  border-color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  opacity: 1;
  color: black;
   background-color: #166461;
   text-decoration-color: white;  
}

:hover.nav{
opacity: 0.6;
border-color: black;
color: black;
background-color: white;
}

a{
  text-decoration: none ;
  color:white;
  font-size: medium;

}

:hover#tienda{
opacity: 0.6;
color: black;
}


.slider-container .action-buttons .down-button {
  
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*:hover .nav{
 background-color: white;
  color: black;  }

@media (max-width:555px) {
  .nav {
    width: 25%;
    height: 25%;

}/*
